.denied {
  background: #ff8787;
  border-color: #ff3838;
}
.pass {
  background: #62d762;
  border-color: #63ff38;
}
.vacations-checks {
  padding: 10px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 16px;
}
.vacations-checks p {
  margin: 0;
  font-weight: 500;
}
.period-header {
  text-transform: capitalize;
}
.vacation-item {
  position: relative;
}
.vacation-buttons-container {
  position: absolute;
  right: 0px;
  top: -13px;
  z-index: 1;
}
.vacation-item button {
  width: 30px;
  height: 30px;
  margin-left: 3px;
}
.vacation-item button > span {
  padding: 0 !important;
}
.buttons-container {
  margin-top: 50px;
}
.vacations-container {
  position: relative;
}
.vacations-blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  z-index: 2;
  left: 0;
  top: 0;
  cursor: pointer;
}
.input-restricted {
  cursor: unset;
  pointer-events: none;
}
