.vacations-table-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3px 0px;
}
.vacations-table-list span {
  display: block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 10px;
  margin: 0px 3px 0px 0px;
  background: #fff;
}
.mat-header-cell {
  font-size: 14px !important;
}
.clickable {
  cursor: pointer;
}
.transfer-item {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  border-radius: 8px;
  padding: 8px;
  max-width: 300px;
  margin-right: 20px;
}
.transfer-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.transfer-item ul {
  list-style-type: none;
  padding: 0;
}
.accept-transfer-button {
  margin-right: 10px;
  background-color: #ffffff;
}
