<div class="container">
  <div class="row">
    <h1>Мой отдел</h1>
  </div>
  <div class="row">
    <p><strong>Внимание!</strong> В данном разделе вы можете утвердить, либо отклонить график отпусков сотрудника вашего отдела.<br>
    Если вы утверждаете график, изменить вам его будет нельзя.<br>
    При отклонении или утверждении сотрудник увидит оповещение на почте.<br>
    После того, как будет утвержден график последнего сотрудника, кадровый работник организации, или выполняющий его обязанности, получит автоматическое оповещение.</p>
  </div>
  <div class="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

      <ng-container matColumnDef="demo-name">
        <th mat-header-cell *matHeaderCellDef> Ф.И.О. </th>
        <td mat-cell *matCellDef="let user"> {{user.lastName + ' ' + user.firstName + ' ' + user.middleName}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-position">
        <th mat-header-cell *matHeaderCellDef> Должность </th>
        <td mat-cell *matCellDef="let user"> {{user.position}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-vacations">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Отпуска </th>
        <td mat-cell *matCellDef="let user" class="text-center">
          <span *ngIf="user.vacations === null">Отпуска не внесены</span>
          <div class="vacations-table-list">
            <ng-container *ngFor="let vacation of user.vacations">
              <ng-container *ngIf="vacation.vacationType === 'COMMON' && compareDates(vacation.dateFrom)">
                <span>
                  {{'c: ' + this.parseStringToDate(vacation.dateFrom) + ' по: ' + this.parseStringToDate(vacation.dateTo)}}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="demo-approvals">
        <th mat-header-cell *matHeaderCellDef  class="text-center"> Отправил на утверждение </th>
        <td mat-cell *matCellDef="let user" class="text-center">

          <mat-icon aria-hidden="false" aria-label="" *ngIf="user.vacationsApproval === 'APPROVED'" class="green-icon">check_circle_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="" *ngIf="user.vacationsApproval === 'NOT_APPROVED'" class="red-icon">not_interested</mat-icon>

        </td>
      </ng-container>

      <ng-container matColumnDef="demo-approve">
        <th mat-header-cell *matHeaderCellDef  class="text-center"> Утвердить? </th>
        <td mat-cell *matCellDef="let user" class="text-center">
          <div *ngIf="user.vacationsApproval === 'NOT_APPROVED'">
            <mat-icon class="gray-icon">access_time</mat-icon>
          </div>
          <div *ngIf="user.vacationsApproval === 'APPROVED'">
            <mat-icon *ngIf="!isUserVacationsApprovedByHead(user.vacations)" class="green-icon clickable" (click)="this.approveUserVacations(user)" matTooltip="Утвердить">thumb_up_alt</mat-icon>
            <mat-icon *ngIf="isUserVacationsApprovedByHead(user.vacations)" class="green-icon clickable" matTooltip="Вы утвердили отпуска сотрудника">thumb_up_alt</mat-icon>
            <mat-icon *ngIf="!isUserVacationsApprovedByHead(user.vacations)" class="red-icon clickable" (click)="this.disapproveUserVacations(user)" matTooltip="Вернуть на доработку">thumb_down_alt</mat-icon>
            <mat-icon *ngIf="isUserVacationsApprovedByHead(user.vacations)" class="gray-icon clickable" matTooltip="Вы утвердили отпуска сотрудника">thumb_down_alt</mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
