<h1 mat-dialog-title class="edit-user-dialog-title">Редактирование пользователя {{data.firstName}} {{data.lastName}}</h1>
<div mat-dialog-content class="edit-user-dialog">
  <div class="edit-user-dialog-inputs">
    <mat-form-field appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input matInput [(ngModel)]="data.lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput [(ngModel)]="data.firstName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Отчество</mat-label>
      <input matInput [(ngModel)]="data.middleName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Должность</mat-label>
      <input matInput [(ngModel)]="data.position">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Е-мейл</mat-label>
      <input matInput [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="this.headerService.isAdmin()">
      <mat-label>Основная организация</mat-label>
      <mat-select (selectionChange)="this.refreshDepartmentsArray(data.organisationId, $event)" name="organisation" [value]="data.organisationId">
        <mat-option *ngFor="let organisation of this.organisationService.organisationsArray" [value]="organisation.id">
          {{organisation.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Отдел:</mat-label>
      <mat-select (selectionChange)="this.setDepartmentValue($event)" name="department" [value]="data.departmentId">
        <mat-option *ngFor="let department of this.departmentService.departmentsArray" [value]="department.id">
          {{department.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--    <mat-form-field appearance="fill" style="width: 201px;">-->
<!--      <mat-label>Выберите дату найма</mat-label>-->
<!--      <input matInput [matDatepicker]="picker" [formControl]="fc">-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker  startView="year"></mat-datepicker>-->
<!--    </mat-form-field>-->
  </div>
  <div class="edit-user-dialog-checkbox">
    <mat-checkbox [checked]="this.hasDepartmentHeadRole(data)"
                  (change)="this.toggleDepartmentHeadRole(data)">
      Является главой отдела
    </mat-checkbox>
  </div>
  <div *ngIf="this.headerService.isAdmin()">
    <h3 class="h3-without-margin">Роли:</h3>
    <mat-chip-list aria-label="roles selection" class="chip-list">
      <mat-chip *ngFor="let role of data.roles" color="primary" selected (click)="removeRole(role)">{{role.displayName}}</mat-chip>
      <mat-chip *ngFor="let role of resultRoles" color="primary" (click)="addRole(role)">{{role.displayName}}</mat-chip>
    </mat-chip-list>
    <h3 class="h3-without-margin">Обслуживаемые организации:</h3>
    <div *ngIf="!this.hasAccountantRole(data) && !this.hasPersonnelOfficerRole(data)" class="additional-organisations-notation">
      (доступны только для ролей: <b>Бухгалтер</b>, <b>Кадровый сотрудник</b>)
    </div>
    <div *ngIf="this.hasAccountantRole(data) || this.hasPersonnelOfficerRole(data)" class="additional-organisations-container">
      <mat-chip-list aria-label="organisations selection" *ngIf="organisationService.currentOrganisation">
        <ng-container *ngFor="let servicedOrganisation of organisationService.accessibleOrganisations">
          <mat-chip color="primary" *ngIf="userHasOrganisation(servicedOrganisation)" (click)="removeServicedOrganisation(servicedOrganisation)" selected>{{servicedOrganisation.displayName}}</mat-chip>
          <mat-chip color="primary" *ngIf="!userHasOrganisation(servicedOrganisation)" (click)="addServicedOrganisation(servicedOrganisation)">{{servicedOrganisation.displayName}}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
<!--  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Сохранить</button>-->
  <button mat-button (click)="this.saveUser(data)" cdkFocusInitial>Сохранить</button>
</div>
