.vacations-table-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
}
.vacations-table-list span {
  display: block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 10px;
  margin: 0px 3px 0px 0px;
  background: #fff;
  text-align: left;
}
.vacations-table-list .vacation-item {
  display: block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 10px;
  margin: 12px 10px 0px 0px;
  background: #fff;
  text-align: left;
}
.mat-header-cell {
  font-size: 14px !important;
}
.clickable {
  cursor: pointer;
}
.organisation-table {
  width: 100%;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
.detail-row {
  height: 0;
  background: #0000001f;
}
.edit-user-button {
  margin-right: 10px;
  background-color: #ffffff;
}
.edit-user-button > span {

}
table.vacations-approved .hoverable {
  background: #baffc1;
}
table.vacations-approved {
  background: #baffc1;
}
.vacation-item {
  position: relative;
}
.vacation-buttons-container {
  position: absolute;
  right: -9px;
  top: -14px;
  z-index: 1;
}
.vacation-item button {
  width: 30px;
  height: 30px;
  margin-left: 3px;
}
.vacation-item button > span {
  padding: 0 !important;
}
.buttons-container {
  display: flex; justify-content: flex-start; align-items: center;
}
.button-and-header-container {
  display: flex; justify-content: flex-start; align-items: center;
}
.button-and-header-container button {
  margin-right: 13px;
}
