<div class="container">
  <div class="row">
    <ng-container *ngIf="organisation !== undefined">
      <h1>Организация ({{organisation.displayName}} ИНН:{{organisation.inn}})</h1>
    </ng-container>
    <ng-container *ngIf="organisation !== undefined" >

      <ng-container *ngFor="let department of organisation.departments">
        <h2>{{department.displayName}}</h2>
        <table mat-table [dataSource]="department.users" class="organisation-table mat-elevation-z8" multiTemplateDataRows>

          <ng-container matColumnDef="user-name">
            <th mat-header-cell *matHeaderCellDef width="340"> Ф.И.О. </th>
            <td mat-cell *matCellDef="let user">
              <button class="edit-user-button" mat-mini-fab color="primary" aria-label="edit user" matTooltip="Редактировать пользователя"
                      (click)="this.openUserEditDialog(user, $event)">
                <mat-icon class="gray-icon">edit</mat-icon>
              </button>
              <ng-container *ngIf="this.organisationService.hasDepartmentHeadRole(user)">
                <span class="bold-text" >{{ user.lastName + ' ' + user.firstName + ' ' + user.middleName}}</span>
              </ng-container>
              <ng-container *ngIf="!this.organisationService.hasDepartmentHeadRole(user)">
                <span class="">{{ user.lastName + ' ' + user.firstName + ' ' + user.middleName}}</span>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="user-position" >
            <th mat-header-cell *matHeaderCellDef width="220"> Должность </th>
            <td mat-cell *matCellDef="let user"> {{ user.position }} </td>
          </ng-container>

          <ng-container matColumnDef="user-vacations">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Отпуска </th>
            <td mat-cell *matCellDef="let user" class="text-center">
              <div class="vacations-table-list">
                <span *ngIf="user.vacations === null || userHasNotCommonVacations(user)" class="text-center">❌ <br> Отпуска не внесены</span>
                <ng-container *ngFor="let vacation of user.vacations">
                    <ng-container *ngIf="vacation.vacationType === 'COMMON'">
                      <span>
                        {{ this.vacationService.vacationTypeToEmoji(vacation) }}
                        {{ vacation.message }} <br>
                        {{'c: ' + this.parseStringToDate(vacation.dateFrom) + ' по: ' + this.parseStringToDate(vacation.dateTo)}}
                      </span>
                    </ng-container>
                  </ng-container>
              </div>
            </td>
          </ng-container>


          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let user" [attr.colspan]="displayedColumns.length">
              <div class="element-detail"
                   [@detailExpand]="user == expandedElement ? 'expanded' : 'collapsed'">
                <div class="vacations-table-list">
                  <ng-container *ngFor="let vacation of user.vacations">
                    <ng-container *ngIf="vacation.vacationType !== 'COMMON'">
                      <span>
                        {{ this.vacationService.vacationTypeToEmoji(vacation) }}
                        {{ vacation.message }} <br>
                        {{'c: ' + this.parseStringToDate(vacation.dateFrom) + ' по: ' + this.parseStringToDate(vacation.dateTo)}}
                      </span>
                    </ng-container>
                  </ng-container>
                  <button matTooltip="Добавить отсутствие" mat-mini-fab color="primary" aria-label="Добавить отсутствие"
                          (click)="this.openUserAddLeaveDialog(user, $event)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="hoverable user-row" mat-row *matRowDef="let user; columns: displayedColumns;"
              [class.expanded-row]="expandedElement === user"
              (click)="expandedElement = expandedElement === user ? null : user"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        </table>
      </ng-container>

    </ng-container>
  </div>
</div>
