<div class="container">
  <div class="row">
    <ng-container *ngIf="this.headerService.currentUser.servicedOrganisations.length > 0 || this.headerService.isAdmin()">
      <h1>Доступные организации: </h1>
      <mat-chip-list aria-label="organisations selection" *ngIf="organisationService.currentOrganisation">
        <ng-container *ngFor="let servicedOrganisation of organisationService.accessibleOrganisations">
          <mat-chip *ngIf="organisationService.currentOrganisation.id === servicedOrganisation.id" color="primary" selected>{{servicedOrganisation.displayName}}</mat-chip>
          <mat-chip *ngIf="organisationService.currentOrganisation.id != servicedOrganisation.id" color="primary" (click)="switchOrganisation(servicedOrganisation)">{{servicedOrganisation.displayName}}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </ng-container>
    <ng-container *ngIf="organisationService.currentOrganisation !== undefined">
      <h1>Организация ({{organisationService.currentOrganisation.displayName}} ИНН:{{organisationService.currentOrganisation.inn}})</h1>
      <div class="buttons-container">
        <button matTooltip="Добавить нового сотрудника" style="margin-right: 13px" mat-raised-button color="primary" (click)="this.openAddUserDialog(organisationService.currentOrganisation)">
          <mat-icon>add</mat-icon><span> Добавить нового сотрудника</span>
        </button>
        <button matTooltip="Добавить отдел" style="margin-right: 13px" mat-raised-button color="primary" (click)="this.openAddDepartmentDialog(organisationService.currentOrganisation)">
          <mat-icon>add</mat-icon><span> Добавить отдел</span>
        </button>
        <button matTooltip="Добавить организацию" *ngIf="this.headerService.isAdmin()" mat-raised-button color="primary" (click)="this.openAddOrganisationDialog(organisationService.currentOrganisation)">
          <mat-icon>add</mat-icon><span> Добавить организацию</span>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="organisationService.currentOrganisation !== undefined" >

      <ng-container *ngFor="let department of organisationService.currentOrganisation.departments">

        <div class="button-and-header-container">
          <button mat-mini-fab color="disabled" matTooltip="Удалить отдел" aria-label="Удалить отдел"(click)="this.deleteDepartment(department)">
            <mat-icon class="gray-icon">clear</mat-icon>
          </button>
          <h2>{{department.displayName}} <span *ngIf="isAllCommonVacationsApproved(department) && isUsersHasVacations(department)">(Отдел утвержден руководителем)</span></h2>
        </div>

        <table mat-table [dataSource]="department.users" [class.vacations-approved]="isAllCommonVacationsApproved(department) && isUsersHasVacations(department)" class="organisation-table mat-elevation-z8" multiTemplateDataRows>

          <ng-container matColumnDef="user-name">
            <th mat-header-cell *matHeaderCellDef width="340"> Ф.И.О. </th>
            <td mat-cell *matCellDef="let user">
              <button class="edit-user-button" mat-mini-fab color="primary" aria-label="edit user" matTooltip="Редактировать пользователя"
                      (click)="this.openUserEditDialog(user, $event)">
                <mat-icon class="gray-icon">edit</mat-icon>
              </button>
              <ng-container *ngIf="this.organisationService.hasDepartmentHeadRole(user)">
                <span class="bold-text" >{{ user.lastName + ' ' + user.firstName + ' ' + user.middleName}}</span>
              </ng-container>
              <ng-container *ngIf="!this.organisationService.hasDepartmentHeadRole(user)">
                <span class="">{{ user.lastName + ' ' + user.firstName + ' ' + user.middleName}}</span>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="user-position" >
            <th mat-header-cell *matHeaderCellDef width="220"> Должность </th>
            <td mat-cell *matCellDef="let user"> {{ user.position }} </td>
          </ng-container>

          <ng-container matColumnDef="user-vacations">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Отпуска </th>
            <td mat-cell *matCellDef="let user" class="text-center">
              <div class="vacations-table-list">
                <span *ngIf="user.vacations === null || userHasNotCommonVacations(user)" class="text-center">❌ <br> Отпуска не внесены</span>
                <ng-container *ngFor="let vacation of user.vacations">
                    <ng-container *ngIf="vacation.vacationType === 'COMMON'">
                      <div class="vacation-item">
                        <div class="vacation-buttons-container">
                          <button (click)="downloadImageFile(vacation, $event, 'order')" *ngIf="vacation.vacationOrder != null && vacation.vacationOrder.signedOrderPath != null"
                                  mat-mini-fab color="disabled" matTooltip="Показать скан-копию приказа">
                            <mat-icon  class="gray-icon">crop_original</mat-icon>
                          </button>
                          <button (click)="downloadImageFile(vacation, $event, 'statement')" *ngIf="vacation.vacationStatement != null && vacation.vacationStatement.signedStatementPath != null"
                                  mat-mini-fab color="disabled" matTooltip="Показать скан-копию уведомления">
                            <mat-icon  class="gray-icon">crop_original</mat-icon>
                          </button>
                          <button *ngIf="vacation.vacationOrder != null && vacation.vacationOrder.signedOrderPath === null"
                                  mat-mini-fab color="disabled" matTooltip="Выгрузить скан-копию уведомления">
                            <mat-icon (click)="uploadFileDialog(vacation)" class="gray-icon">cloud_upload</mat-icon>
                          </button>
                          <button *ngIf="vacation.vacationOrder != null" mat-mini-fab color="disabled" matTooltip="Скачать приказ в формате .docx">
                            <mat-icon (click)="downloadDocxFile(vacation, $event)" class="gray-icon">description</mat-icon>
                          </button>
                        </div>
                        {{ this.vacationService.vacationTypeToEmoji(vacation) }}
                        {{ vacation.message }} <br>
                        {{'c: ' + this.parseStringToDate(vacation.dateFrom) + ' по: ' + this.parseStringToDate(vacation.dateTo)}}
                      </div>
                    </ng-container>
                  </ng-container>
              </div>
            </td>
          </ng-container>


          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let user" [attr.colspan]="displayedColumns.length">
              <div class="element-detail"
                   [@detailExpand]="user == expandedElement ? 'expanded' : 'collapsed'">
                <div class="vacations-table-list">
                  <ng-container *ngFor="let vacation of user.vacations">
                    <ng-container *ngIf="vacation.vacationType !== 'COMMON'">
                      <div class="vacation-item">
                        <button mat-mini-fab color="disabled" matTooltip="Удалить отпуск">
                          <mat-icon  (click)="removeVacation(user, vacation)" class="gray-icon">delete</mat-icon>
                        </button>
                        {{ this.vacationService.vacationTypeToEmoji(vacation) }}
                        {{ vacation.message }} <br>
                        {{'c: ' + this.parseStringToDate(vacation.dateFrom) + ' по: ' + this.parseStringToDate(vacation.dateTo)}}
                      </div>
                    </ng-container>
                  </ng-container>
                  <button matTooltip="Добавить отсутствие" mat-mini-fab color="primary" aria-label="Добавить отсутствие"
                          (click)="this.openUserAddLeaveDialog(user, $event)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="hoverable user-row" mat-row *matRowDef="let user; columns: displayedColumns;"
              [class.expanded-row]="expandedElement === user"
              (click)="expandedElement = expandedElement === user ? null : user"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        </table>
      </ng-container>

    </ng-container>
  </div>
</div>
